<!doctype html>
{% load static %}
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fake API - CRUD</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css'%}">
</head>
<body>
    <div class="left-panel">
        <button type="button" class="btn btn-outline-dark position-relative"><a href="{% url 'home' %}" class="home-button">Home</a>
            <span class="position-absolute top-0 start-100 translate-middle p-2 ">
            </span>
          </button>

    </div>
 <div class="container mt-5">
  <h2 class="text-center alert alert-danger">Function Based View ModelForm CRUD Project</h2>
 {% block content %} {% endblock content %} 
 </div>
<script src="{% static 'home/js/jquery.js' %}"></script>
<script src="{% static 'home/js/popper.js' %}"></script>
<script src="{% static 'home/js/bootstrap.js' %}"></script>
</body>
</html>
<!--In BODY we will add a container of Bootstrap--> 
<!--...--> 